.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-width {
  width: 650px;
}
@media  (min-width: 360px) and (max-width: 414px) {
  .card-width {
    width: 100vw;
  }
}
.background-banner {
  background-image: url('https://i.ibb.co/f0XGSfB/Rectangle-2.png');
}
@media (min-width: 360px) and (max-width: 414px) {
  .background-banner {
    background-image: url('https://i.ibb.co/SyYB4dY/Rectangle-2-1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
